.all_month_log_content{
  padding: 20px;
  height: 90vh;
  background-color: orange;
}

.month_day_container{
  display: flex;
}

.month_side{
  background-color: lightblue;
  flex-grow: 1;
  padding: 20px;
}

.day_side{
  background-color: coral;
  flex-grow: 1;
  padding: 20px;
}
